/* body set */
body
{
    margin: 0;
    background-color: #f6f8f9;
}
/* app-header */
.app-header
{
    height: 80px;
    background-color: white;
}
.logo
{
    display: inline-block;
    margin-left: 1%;
    height: 54px;
    width: 54px;
}
.title
{
    display: inline-block;
    vertical-align: 15px;
}
/* app-main */
.app-main
{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    background-color: white;
}
/* nav menu */
.navbar
{
    border-bottom: 1px solid #e8eaec;
    padding-left: 5%;
    padding-bottom: 1%;
}
.button
{
    border-radius: 8%;
    height: 45px;
    margin-top: 2%;
}
.addtask
{
    background-color: #47adf1;
    color: white;
    border: 0;
}
.addsection
{
    border-color: #e8eaec;
    border: 1;
    color: #e8eaec;
    background-color: white;
}
/* sections */
.sections
{
    padding-left: 10%;
    padding-top: 5%;
}
/* indextitle */
.iconsm
{
    background-size: cover;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

}
.arrowbotton
{
    background-image: url(../img/freccia\ giu.png);
    height: 1rem;
    
}
.task
{
    display: inline-block;
}
.chekball 
{
    background-image: url(../img/spunta\ tonda.png);
}
/* section today */
.xball
{
    background-image: url(../img/x\ tonda.png);
}
.textnew
{
    vertical-align: 5px;
    display: inline-block;
}
.makerbotton
{
    border: 0;
    vertical-align: 5px;
    border-radius: 10%;
    margin-left: 1%;
}
.editorial
{
    background-color: #47adf1;
}
.q1
{
    background-color: #9c72e4;
}
.website
{
    background-color: #d863a1;
}
.recruiting
{
    background-color: #64c0a9;
}
.mobile
{
    background-color: #f29e33;
}
.sales
{
    background-color: lightgreen;
}